body{
    margin: 0;
    background-color: lightgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nav-menu{
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    font-family: Arial, serif;
    background-color: dodgerblue;
}
.left-border{
    border-left: white 1px solid;
    padding: 2px 14px;
}

.align-right{
    float: right;
}

#sign-out-button{
    background-color: white;
    color: dodgerblue;
    border: white 1px solid;
    border-radius: 4px;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#content{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5% auto;
    width: 60%;
    padding: 2%;
    background-color: white;
    box-sizing: content-box;
    overflow: auto;
}
#content h3{
    font-weight: lighter;
}
#product-form input, select{
    display: inline-block;
    width: 100%;
    border: dodgerblue 2px solid;
    padding: 6px;
    margin-bottom: 10px;
}
.left-items{
    width: 45%;
    float: left
}
.right-items{
    width: 45%;
    float: right;
}

.form-button{
    display: inline-block;
    color: white;
    font-size: 15px;
    padding: 8px;
    margin: 8px;
}

#reset-button{
    display: inline-block;
    border: 2px cadetblue solid;
    background-color: white;
    color: cadetblue;
    font-size: 15px;
    padding: 8px;
    margin: 6px;
    float: right;
}

#cancel-button{
    display: inline-block;
    border: 2px orangered solid;
    background-color: white;
    color: orangered;
    font-size: 15px;
    padding: 8px;
    margin: 6px;
    float: right;
}
#submit-button{
    display: inline-block;
    border: 2px dodgerblue solid;
    background-color: white;
    color: dodgerblue;
    font-size: 15px;
    padding: 8px;
    margin: 6px;
    float: right;
}
